@model IEnumerable<DojoLoko.Models.Faixa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Faixas</h2></center>

@if (@Model.Any())
{
    <table class="table table-hover">
        <tbody>
            @foreach (var faixa in Model)
            {
                <tr>
                    <td style="vertical-align: middle;">
                        @faixa.Nome
                    </td>
                    <td class="col-md-2" style="vertical-align: middle;">
                        @faixa.Grau
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Não temos nenhuma faixa cadastrada</p>
}