@model IEnumerable<DojoLoko.Models.Aluno>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Alunos</h2></center>

@if (@Model.Any())
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aluno in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@aluno.Nome, "Detalhes", new { aluno.ID })</td>
                    <td><a class="btn" href="/Alunos/Editar/@aluno.ID">Editar</a></td>
                </tr>
            }
        </tbody>
</table>
@Html.ActionLink("Novo aluno", "Novo", null, new { @class = "btn btn-primary"})
}
else
{
    <p>Não temos nenhum aluno cadastrado</p>
}