@{
    ViewBag.Title = "Home Page";
}
<br /><br />
<div class="col-md-3 col-xs-6">
    <div class="thumbnail">
        <a href="/Alunos">
            <img src="~/Content/Koala.png" alt="Alunos" style="width:100%">
            <div class="caption">
                <center><p>Alunos</p></center>
            </div>
        </a>
    </div>
</div>
<div class="col-md-3 col-xs-6">
    <div class="thumbnail">
        <a href="/Aulas">
            <img src="~/Content/Koala.png" alt="Aulas" style="width:100%">
            <div class="caption">
                <center><p>Aulas</p></center>
            </div>
        </a>
    </div>
</div>
<div class="col-md-3 col-xs-6">
    <div class="thumbnail">
        <a href="/Faixas">
            <img src="~/Content/Koala.png" alt="Faixas" style="width:100%">
            <div class="caption">
                <center><p>Faixas</p></center>
            </div>
        </a>
    </div>
</div>
<div class="col-md-3 col-xs-6">
    <div class="thumbnail">
        <a href="/TipoDeAssociacoes">
            <img src="~/Content/Koala.png" alt="Associacoes" style="width:100%">
            <div class="caption">
                <center><p>Associações</p></center>
            </div>
        </a>
    </div>
</div>
<br /><br />
<br /><br />